* {
  box-sizing: border-box;
}

main.buscador {
  font-family: "Josefin Sans";
}


section.formulario {
  background-color: rgb(34, 34, 35);
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 200px;
}

div.form p {
  color: white;
}

div.form {
  margin-top: 20px;
}

section.buscador-titulo {
  background-color: black;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

section.buscador-titulo div h1 {
  font-size: 100px;
  font-family: "Josefin Sans";
}

div.buscador-titulo h1 {
  color: white;
}

div.serie-nombre p {
  color: rgb(92, 74, 241);
  font-size: 25px;
}

div.boton-enviar {
  margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

select.form-control-lg {
  font-size: 16px;
}

div.form p {
  font-size: 20px;
}

div.boton-enviar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.error {
  height: 38px;
}
/* SERIES BUSCADAS */
section.seriestodas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: rgb(242, 243, 244);
  color: white;
  display: none;
}

div.titulo-buscado {
  background-color: black;
  color: white;

}

section.seriestodas div.serie-buscador div.serie-info {
  width: 230px;
  height: 305px;
  margin-bottom: 20px;
}

h5.serie-info {
  font-family: "Josefin Sans";

}

h1.titulo-buscado {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  font-family: "Josefin Sans";
  color: white;
}

div.uk-card-body {
  padding: 0 !important;
  overflow: hidden;
  position: relative;

}


div.uk-card-body img {
  width: 100% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}












/* FOOTER */

footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: "Josefin Sans";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(92, 74, 241);
}

ul.ul-menu-2 {
  margin-top: 20px;
}

/* FIN DEL FOOTER*/
