* {
  box-sizing: border-box;
}


/* HEADER */

header nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Josefin Sans";
  align-items: baseline;
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgb(242, 243, 244);
  height: 75px;
}

nav ul.homeA li {
  list-style-type: none;
}

nav ul.homeB li {
  list-style-type: none;
}

img.logo-home {
  width: 60px;
}

nav ul.homeA {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style-type: none;
  padding-left: 10px;
}

ul li.ir-generos {
  margin-left: 20px;
}

ul li.ir-buscador-avanzado {
  margin-left: 20px;
}

nav ul.homeB {
  padding-right: 10px;
}

header nav ul li a.colorR {
  text-decoration: none;
  color: black;
}

header nav ul li a.colorR:hover {
  color: rgb(92, 74, 241);
}

/* FIN DEL HEADER */


div.corte {
  background-color: rgb(218, 244, 0);
  height: 50px;
}

/* BODY*/
div.contenedor-3 {
background-color: #212529
}


/* BODY*/
@media (min-width: 400px)and (max-width:1450px){
section.detalle-series {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
height: 685px;
}

div.Generos {
  display: flex;
}

div.Generos a  {
  margin-left: 10px;
  color: rgb(92,74,241);
}
}

div.detalle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  font-family:"Josefin Sans";
  width:55%;
  margin-left: 10px;
  margin-top:93px;
}

div.detalle h1 {
  font-family:"Josefin Sans";
  color: rgb(92,74,241);
  text-transform: uppercase;
  font-size: 3rem;
}


div.poster-serie {
width: 25%;
margin-left:-53px;
  margin-top: 50px
}

div img {
  width: 100%;
  margin-left: 66px;
  margin-top: 42px;
}

/* BOTONES */
.ocultarBoton, .ocultarBoton2 {
  display: none;
}

button.boton-favoritos {
  margin-left: 20px;
}

/* TRAILERS*/

div.vertrailer{
  margin-left: 40%;
  padding: 40px;
}

.vertrailer a {
  background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

/* RECOMENDACIONES*/

#seccion-recomendaciones {
  background-color: rgb(242, 243, 244);
}

#carrouselRecomendaciones {
  margin-bottom: 20px;

}


/* uikit*/

ul.uk-slider-items {
  margin-bottom:90px;
  justify-content: center;
  margin-left: 113px;
}


/* FOOTER */

footer nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Josefin Sans";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  background-color: black;
}

footer nav ul li {
  list-style-type: none;
}

img.logoTMDB {
  width: 50px;
}

nav ul.homeC {
  padding-left: 0px;
}

nav ul.homeD {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

li.nombre1 {
  margin-right: 20px;
}

footer nav ul {
  margin-bottom: 0px;
}
