* {
  box-sizing: border-box;
}


main {
  background-image:
}

div.corte {
  background-color: rgb(218, 244, 0);
  height: 50px;
}

/* ICONOS*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

/* BODY*/
div.contenedor-3 {
background-color: #212529
}

section.detalle-series {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 120px;

}


div.poster{
  width: 100%;
  margin-top: 20px;

}

div.Generos {
  display: flex;
}

div.Generos a  {
  margin-left: 10px;
}

div.detalle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  font-family:"Josefin Sans";
  width:55%;
  margin-left: 10px;
  margin-top:93px;
}

div.detalle h1 {
  font-family:"Josefin Sans";
  color: #007bff;
  text-transform: uppercase;
  font-size: 3rem;
}

div.poster-serie {
width: 25%;
margin-left:-53px;
}

div img {
  width: 100%;
  margin-left: 66px;
  margin-top: 42px;
}





/* EVENTO DE CLICK BOTON*/
.ocultarBoton, .ocultarBoton2 {
  display: none;
}



div.vertrailer{
  margin-left: 40%;
  padding: 40px;
}



button.boton-favoritos {
  margin-left: 20px;
}

#seccion-recomendaciones {
  background-color: black;
}

#carrouselRecomendaciones {
  margin-bottom: 20px;

}


.vertrailer a {
  background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

ul.uk-slider-items {
  margin-bottom:90px;
  justify-content: center;
  margin-left: 113px;
}


html.js,
.js body {
	/* overflow: hidden; */
	min-height: 100vh;
}


/* FOOTER*/
footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: "Josefin Sans";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(92, 74, 241);
}

ul.ul-menu-2 {
  margin-top: 20px;
}
