* {
  box-sizing: border-box;
}
/* GENEROS */

section.generos-info {
  background-color: rgb(242, 243, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.nombre-serie p {
  font-family: "Josefin Sans";
  font-size: 25px;
color: black;
margin-top: 20px;
}

div.nombre-favoritas h1 {
  font-family: "Josefin Sans";
  font-size: 100px;
  color: rgb(92, 74, 241);
}
li.uk-active img {
  width: 100vh;
  height: 100%;
}

section.favoritas-seleccionadas{
  padding: 42px 42px 42px;
}




/* FOOTER*/
footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: "Josefin Sans";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(92, 74, 241);
}

ul.ul-menu-2 {
  margin-top: 20px;
}
