* {
  box-sizing: border-box;
}

/* HEADER*/
header nav.menu {
  display: flex;
  flex-wrap: wrap;
	background-color: white;
  justify-content: space-between;
  margin-bottom: 8px
}


nav.menu ul li {
	margin: 0;
	padding: 0px 12px 0 12px;
	list-style-type: none;
	font-size: 17px;
}

nav.menu ul.ul-menu-1 {
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
}
nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green {
	text-decoration: none;
  color: black;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green:hover {
	text-decoration: underline rgb(218, 244, 0);
}

main {
  background-image:
}

div.corte {
  background-color: rgb(218, 244, 0);
  height: 50px;
}
