* {
  box-sizing: border-box;
}

main.index {
  font-family: "Josefin Sans"
}

.alert-danger{
  display: block;
}

div.error {
 width: 500px;
 margin-top: 10px;
}

section.home-1 {
  text-align: center;
}

div.foto-index {
  height: 500px;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.titulo1 h1{
  font-family: "Josefin Sans";
  color: white;
  font-size: 85px;
  margin-top: 15px;
}

div.titulo1 h2 {
  font-family: "Josefin Sans";
  color: rgb(92, 74, 241);
}

/* HOME */
section.home-2 {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Josefin Sans";
  padding-bottom: 150px;
  padding-top: 30px;
  background-color: rgb(34, 34, 35);
}

h3.tituloCarrousel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carrousel-populares {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carrousel-mejor-puntaje {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carrousel-al-aire {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.uk-card-body>:last-child, .uk-card-footer>:last-child, .uk-card-header>:last-child {
  font-size: 14px;
}

.uk-card-default .uk-card-title {
  font-size: 20px;
  font-family: "Josefin Sans"
}

.uk-card-media-top img {
  width: 100%;
}

.uk-card-body {
  background-color: white;
}

ul.uk-slider-nav li.uk-active a {
  background-color: white
}

div.populares {
  margin-top: 30px;
  margin-left: 105px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;

}

p.populares {
  margin: 0px 0 -32px 0;
  color: rgb(92, 74, 241);
}

h2.populares {
  font-family: "Josefin Sans";
  font-weight: 700;
  color: white;
  margin-top: 36px;
}

div.mayor-puntaje {
  margin-top: 30px;
  margin-left: 105px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
}

p.mayor-puntaje {
  margin: 0px 0 -32px 0;
  color: rgb(92, 74, 241);
}

h2.mayor-puntaje {
  font-family: "Josefin Sans";
  font-weight: 700;
  color: white;
  margin-top: 36px;
}

div.al-aire {
  margin-top: 30px;
  margin-left: 105px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
}

p.al-aire {
  margin: 0px 0 -32px 0;
  color: rgb(92, 74, 241);
}

h2.al-aire {
  font-family: "Josefin Sans";
  font-weight: 700;
  color: white;
  margin-top: 36px;
}

/* FOOTER */

footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: "Josefin Sans";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(92, 74, 241);
}

ul.ul-menu-2 {
  margin-top: 20px;
}

/* FIN DEL FOOTER*/

/* GENEROS */

section.generos-info {
  background-color: black;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.nombre-serie p {
  font-family: "Josefin Sans";
  font-size: 25px;
  color: rgb(92, 74, 241);
}

div.nombre-generos h1 {
  font-family: "Josefin Sans";
  font-size: 100px;
  color: white;
}

section.generos-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(34, 34, 35);
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 160px;
}

section.generos-todos div.generos div {
  width: 230px;
  height: 305px;
  margin-bottom: 38px;
  margin-right: 17px;
  font-family: "Josefin Sans";
  color: white;
}

.uk-text-center {
  margin-top: 50%;
}

div.aventura {
  background-image: url('../imagenes/aventura.jpg');
  background-size: cover;
}

div.animacion {
  background-image: url('../imagenes/animacion.jpg');
  background-size: cover;
}

div.comedia {
  background-image: url('../imagenes/comedia.jpg');
  background-size: 100%;
}

div.crimen {
  background-image: url('../imagenes/crimen.jpg');
  background-size: 100%;
}

div.documental {
  background-image: url('../imagenes/documental.jpg');
  background-size: 100%;
}

div.drama {
  background-image: url('../imagenes/drama.jpg');
  background-size: 100%;
}

div.familiares {
  background-image: url('../imagenes/familiares.jpg');
  background-size: 100%;
}

div.misterio {
  background-image: url('../imagenes/misterio.jpg');
  background-size: 100%;
}

div.romance {
  background-image: url('../imagenes/romance.jpeg');
  background-size: 100%;
}

div.ciencia-ficcion {
  background-image: url('../imagenes/ciencia-ficcion.jpg');
  background-size: cover;
}

div.occidentales {
  background-image: url('../imagenes/occidentales.jpg');
  background-size: 100%;
}

div.guerra {
  background-image: url('../imagenes/guerra.jpg');
  background-size: 100%;
}

p.tamano-letra {
  font-size: 20px!important;
}

/*BUSCADOR*/

.buscador-lupa {
  display: none;
}

.imag{
  width: 40px;
  position: absolute;
  top: 9px;
  right:10px;
}

form.buscador {
  width: 500px;
  margin: 0 auto;
  font-family: "Josefin Sans";
  position:relative;
}

input.buscador {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  opacity: 0.7;
  font-size: 20px;
}

/* INFO DEL HOME */

section.info {
  background-color: rgb(242, 243, 244);
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans";
  padding-left: 200px;
  padding-right: 200px;
}

div.info1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.logo1 {
  width: 50px;
  margin-bottom: 10px;
}

/* MEDIA QUERYS */

/* tablet */

@media (min-width: 414px) and (max-width: 970px){

  div.titulo1 h2 {
    font-size: 30px;
  }

  div.titulo1 h1 {
    font-size: 50px;
  }

  input.buscador {
    width: 300px;
    height: 40px;
  }

  form.buscador {
    position: relative;
  }

  .imag{
    width: 35px;
    position: absolute;
    top: 5px;
    right: 112px;
  }

  div.error {
   width: 300px;
   font-size: 15px;
 }

 div.error div.alert {
   font-family: "Josefin Sans";
 }

 section.info {
   padding-left: 100px;
   padding-right: 100px;
   height: 300px;
 }

 section.home-2 {
 }

 div.populares {
   display:flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 0px;
 }

 div.mayor-puntaje {
   display:flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 0px;
 }

 div.al-aire {
   display:flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 0px;
 }

}

/* mobile */

@media (max-width:450px){
  div.populares {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 14px;
    padding-top: 10px;
  }

  div.mayor-puntaje {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 14px;
    padding-top: 10px;
  }

  div.al-aire {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 14px;
    padding-top: 10px;
  }

  div.info1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  div.boton-desliza {
    margin-left: 12px;
  }


  section.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  div.carrousel-populares {
    height: 547px;
  }

  div.uk-card-body {
    padding: 20px 30px;

}
