* {
  box-sizing: border-box;
}

/* HOME */
/* HEADER */
header nav.menu {
  display: flex;
  flex-wrap: wrap;
	background-color: white;
  justify-content: space-between;
}


nav.menu ul li {
	margin: 0;
	padding: 0px 12px 0 12px;
	list-style-type: none;
	font-size: 17px;
}

nav.menu ul.ul-menu-1 {
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
}
nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green {
	text-decoration: none;
  color: black;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green:hover {
	text-decoration: underline rgb(218, 244, 0);
}

ul.ul-menu-1 {
margin-top: 20px;
margin-bottom: 20px;
}

div.corte {
  background-color: rgb(218, 244, 0);
  height: 50px;
}

/* FIN DEL HEADER */

main {

}

section.home-1 {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/peaky-blinders.jpg);
  background-size: 100%;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

div.titulo {
  padding-top: 113px;
}

h1.titulo {
  font-size: 48px;
  font-family: "Permanent Marker";
  color: white;
  margin-top: 55px;
}

section.home-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  align-items: center;
  font-size: 20px;
  font-family: "Josefin Sans";
}

h3.tituloCarrousel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carrousel-populares {
  width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.uk-card-body>:last-child, .uk-card-footer>:last-child, .uk-card-header>:last-child {
  font-size: 14px;
}

.uk-card-default .uk-card-title {
  font-size: 20px;
}

.uk-card-media-top img {
  width: 100%;
}

div.populares {
  padding: 40px;
  margin-top: 140px;
}

h2.populares {
  font-family: "Josefin Sans";
  font-weight: bolder;
  text-decoration: underline rgb(218, 244, 0);
}

div.mayor-puntaje {
  padding: 40px;
  margin-top: 140px;
}

h2.mayor-puntaje {
  font-family: "Josefin Sans";
  font-weight: bolder;
  text-decoration: underline rgb(218, 244, 0);
}

div.al-aire {
  padding: 40px;
  margin-top: 140px;
}

h2.al-aire {
  font-family: "Josefin Sans";
  font-weight: bolder;
  text-decoration: underline rgb(218, 244, 0);
}

/* FOOTER */

footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: "Josefin Sans";
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(218, 244, 0);
}

ul.ul-menu-2 {
  margin-top: 20px;
}
/* GENEROS */

section.generos-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
  margin-bottom: 60px;

}

section.generos-todos div {
  width: 26%;
  height: 151px;
  padding-top: 32px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Permanent Marker";
  font-weight: bold;
  border-radius: 20px;
}


section.generos-todos div p a.generos-link {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

section.generos-todos div:hover p a {
  text-decoration: underline rgb(218, 244, 0);
}

div.accion {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/accion.jpg);
  background-size: 100%;
}

div.aventura {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/aventura.jpg);
  background-size: 100%;
}

div.animacion {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/animacion.jpeg);
  background-size: 100%;
}

div.comedia {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/comedia.jpg);
  background-size: 100%;
}

div.crimen {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/crimen.jpg);
  background-size: 100%;
}

div.documental {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/documental.jpg);
  background-size: 100%;
}

div.drama {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/drama.jpg);
  background-size: 100%;
}

div.familiares {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/familiares.jpg);
  background-size: 100%;
}

div.fantasia {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/fantasia.jpg);
  background-size: 100%;
}

div.historia {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/historia.jpg);
  background-size: 100%;
}

div.horror {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/horror.jpg);
  background-size: 100%;
}

div.musica {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/musica.jpg);
  background-size: 100%;
}

div.misterio {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/misterio.jpeg);
  background-size: 100%;
}

div.romance {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/romance.jpg);
  background-size: 100%;
}

div.ciencia-ficcion {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/ciencia-ficcion.jpg);
  background-size: 100%;
}

div.occidentales {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/occidentales.jpg);
  background-size: 100%;
}

div.guerra {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/guerra.jpg);
  background-size: 100%;
}

div.thrillers {
  background-image: url(/Users/iaraburgueno/Desktop/trabajo-final/imagenes/thrillers.jpg);
  background-size: 100%;
}

body {
  margin: inherit;
}
