* {
  box-sizing: border-box;
}

header nav.menu {
  display: flex;
  flex-wrap: wrap;
	background-color: white;
  justify-content: space-between;
}


nav.menu ul li {
	margin: 0;
	padding: 0px 12px 0 12px;
	list-style-type: none;
	font-size: 17px;
}

nav.menu ul.ul-menu-1 {
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
}
nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green {
	text-decoration: none;
  color: black;
  font-family: GTWalsheimGQ, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

nav.menu ul.ul-menu-1 li.li-menu-1 a.color-green:hover {
	text-decoration: underline rgb(218, 244, 0);
}

main {
  font-family: GTWalsheimGQ, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section.home-1 {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(/Users/oliviacabello/Desktop/programacion/trabajo-final/imagenes/peaky-blinders.jpg);
  background-size: 100%;
  color: white;
  text-align: center;
}

div.titulo {
  padding-top: 113px;
}

h1 {
  font-size: 55px;
  text-decoration: underline rgb(218, 244, 0);
}

section.home-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 100px;
  align-items: center;
}

div.populares {
  padding: 40px;
}

div.mayor-puntaje {
  padding: 40px;
}

div.al-aire {
  padding: 40px;
}

footer nav.nombres-header-logo {
  background-color: rgb(81, 83, 86);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

}
nav.nombres-header-logo ul {
  font-family: GTWalsheimGQ, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-content: center;
  list-style-type: none;
  padding: 0px;
}

nav.nombres-header-logo ul li {
  padding: 0px 12px 0 10px;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green {
	text-decoration: none;
  color: white;
  font-family: GTWalsheimGQ, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

nav.nombres-header-logo ul.ul-menu-2 li.li-menu-2 a.color-green:hover {
  text-decoration: underline rgb(218, 244, 0);
}

/* Css de pagina2 generos */

section.generos-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 115px;
 margin-right: 115px;
}

div.generos {
  width: 27%;
  height: 131px;
  padding-top: 43px;
  background-color: rgb(218, 244, 0);
    margin-bottom: 30px;
    text-align: center;
    font-family: GTWalsheimGQ, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div.generos p a.generos-link {
  text-decoration: none;
}

div.generos p a.generos-link:hover {
text-decoration: underline; color: black;}
